
.box{
    justify-content: flex-end;
}
input{
    position: relative;
    display: inline-block;
    font-size: 1rem;
    box-sizing: border-box;
    transition: 0.5s;
}
input[type=text]{
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;

}
input[type=submit]{
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107;
    color: #fff;
}
input[type=submit]:hover{
    background: #ff5722;
}
.search_btn{
    position: absolute;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107;
    color: #fff;
}