.pagination, .numbers{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.numbers{
    background: #ffc107;
    color: #fdfdfd;
    height: 50px;
    width: 50px;
    font-size: 18px;
    padding-top: 1px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-right-width: 0px;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
}
.numbers:hover{
    background: rgba(255, 87, 34, 1);
    border-top-color: rgba(0, 0, 0, 0.35);
    border-bottom-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.numbers:focus,
.numbers:active{
    padding-top: 4px;
    border-left-width: 1px;
    background: rgba(255, 87, 34, 1);
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}
.arrow{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #ffc107;
    color: #fdfdfd;
    height: 50px;
    width: 50px;
    font-size: 18px;
    padding-top: 1px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-right-width: 0px;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
}
.arrow:hover{
    background: rgba(255, 87, 34, 1);
    border-top-color: rgba(0, 0, 0, 0.35);
    border-bottom-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
